section.editor nav.toggle{
	background-color: #F6F6F6;
	margin: 0;
	overflow: auto;
}
.toggle-handle{
	cursor: pointer;
}
section.editor nav.toggle dl{
	overflow: auto;
}
section.editor nav.toggle dl>dt,
section.editor nav.toggle dl>dd{
	float: left;
}
section.editor nav.toggle dl>dt{
	margin: 0 0 0 14px;
}
section.editor nav.toggle dl>dd{
}