$fa-font-path = "../fonts"
@import "../../bower_components/Font-Awesome-Stylus/stylus/index";

@import "fonts";
@import "colors";

body{
	font: paragraphText;
	background-color: bodyBgColor;
}

body>.container{
	margin: 0px auto;
	display: block;
	width: contentWidth;
	background-color: whiteBgColor;
	box-shadow: 2px 2px 2px 1px shadowColor;
}

body>.container>header{
	height: headerHeight;
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	width: contentWidth;
	overflow: auto;
}
body>.container>header h1{
	margin: 10px 0px 0px 10px;
	color: whiteH1;
}
body>.container>header nav{
	background-color: contentBgColor;
}
body>.container>header nav ul{}
body>.container>header nav ul>li{
	float: left;
	margin: 0;
}
body>.container>header nav ul>li>a{}

body>.container>section{
	width: contentWidth;
	min-height: 350px;
	clear: both;
}

p,
h1,
h2,
h3,
h4{
	margin: textMargin;
}

p{
	font: paragraphText;
}

h1{
	font: header1Text;
}
h2{
	font: header2Text;
	margin: h2Margin;
}
h3{
	font: header3Text;
}
h4{
	font: header4Text;
}

body>.container>footer{
	clear: both;
	overflow: auto;
	background-color: whiteBgColor;
	text-align: center;
	border-top: 1px dashed dashedBorderColor;
	padding: 30px 0;
}

body nav#main-nav{
	margin: 0px;
	background-color: contentBgColor;
}
body nav#main-nav a{
	font-family: fontDecorHeader;
	font-size: header3Fontsize;
	color: anchorColor;
	text-decoration: none;
	text-transform: uppercase;
}
body nav#main-nav>ul{
	padding: 20px;
	overflow: auto;
}
body nav#main-nav>ul>li{
	margin: 0px 10px;
	float: left;
}

body nav#footer-nav{
	width: 100%;
	margin: 0px;
}
body nav#footer-nav>ul{
	width: 100%;
	margin: 0px;
	float: left;
}
body nav#footer-nav>ul>li{
	margin: 0px 68px;
	float: left;
}

section.content>section:first-child{
	float: left;
	width: leftColumnWidth;
	display: block;
}
section.content>section{
	float: left;
	display: block;
}

section.content article{
	margin: 0 0 0 18px;
}

section.frontslider-container{
	width: 789px;
}
section.content li.slider-item{
	min-height: 350px;
	display: block;
	float: left;
	margin-right: 6px;
	cursor:pointer;
}
img.align-right{
	float: right;
}

ul.dash{
	margin: 0 0 0 10px;
}
ul.dash>li{
	margin: 0 0 0 1px;
}
ul.dash>li::before{
	content: "-";
	margin: 0 10px;
}

section.frontslider-container #light-slider li.active>img{
	border: 0 none;
}
#light-slider li.active>img{
	border: 2px solid #000;
}

