<h1>Smee Documentation</h1>
<p>Smee Hook management</p>
<h3>Hook execution</h3>
<ul>
	<li>execute a complete application deployment</li>
	<li>only execute a composer update</li>
	<li>only execute a gulp task</li>
	<li>run unit tests</li>
	<li>(re)build api documentation</li>
	<li>(re)build satis repo listings</li>
</ul>
<h3>Target Application management</h3>
<ul>
	<li>crud</li>
</ul>