<h2>Applications</h2>
<p>Create a new Application</p>
<form method="post" action="/dashboard/applications/store">
	<h3>Basic information</h3>
	<dl id="info-base">
		<dt>Name</dt>
		<dd><input type="text" name="application[name]"></dd>
		<dt>APP-Key</dt>
		<dd><input type="text" disabled="disabled" name="application[key]"> <i class="fa fa-gear"></i></dd>
		<dt>Install Path</dt>
		<dd><input type="text" name="application[install_path]"></dd>
	</dl>
	<h3>Repository information</h3>
	<dl id="info-repo">
		<dt>Type</dt>
		<dd>
			<select name="repository[type]">
				<option value="git" selected="selected">GIT</option>
			</select>
		</dd>
		<dt>URI</dt>
		<dd>
			<input id="input-uri" name="repository[uri]" list="input-uri-datalist" type="text">
			<datalist id="input-uri-datalist">
				<option value="https://bitbucket.org">BitBucket</option>
				<option value="https://github.com">Github</option>
			</datalist>
		</dd>
	</dl>
	<h3>Data sources</h3>
	<table id="table-added-datasources">
		<thead>
			<tr>
				<th>#ID</th>
				<th>Type</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>0</td>
				<td>local mysql</td>
				<td>Smee</td>
			</tr>
		</tbody>
	</table>
	<dl id="add-datasource">
		<dt>Type</dt>
		<dd>
			<select name="datasource[type]">
				<option value="local mysql">Local MySQL</option>
				<option value="local mongo">Local Mongo</option>
			</select>
		</dd>
		<dt>Database Name</dt>
		<dd>
			<input id="input-uri" name="datasource[name]" type="text">
		</dd>
	</dl>
</form>