html,
body {
  height: 100%;
  font-size: 11px/1.5 Verdana, sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 10px;
}
h1 {
  font: bold 32px/48px Verdana, sans-serif;
}
h2 {
  font: 22px/26px Verdana, sans-serif;
}
h3 {
  font: bold 18px/22px Verdana, sans-serif;
}
h4 {
  font: 16px/20px Verdana, sans-serif;
}
body>#wrapper>header nav>ul>li {
  background-color: #ccc;
  overflow: auto;
  margin: 2px;
}
body>#wrapper>header nav>ul>li>a {
  width: 100%;
  min-height: 46px;
  display: block;
  padding: 12px 0;
  text-align: center;
}
ul.login-box.guest {
  background-color: #0e0e0e;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
section#stats {
  display: none;
}
section#quick-actions {
  width: 100%;
  height: 180px;
}
html>body section#quick-actions ul.floating-children>li {
  width: 33%;
}
html>body ul.floating-children {
  overflow: auto;
}
html>body ul.floating-children>li {
  float: left;
}
