<nav id="header-nav" class="">
	<ul>
		<li><a href="/docs">Docs</a></li>
		<?php if($this->auth->sessionAuthed()):?>
			<li>
				<form method="post" action="/login/auth">
					<input type="submit" value="logout">
					<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
				</form>
			</li>
		<?php else:?>
			<li><a href="/login">Login</a></li>
		<?php endif?>
	</ul>
</nav>