<nav id="header-nav" class="">
	<ul>
		<?php if($this->auth->sessionAuthed()):?>
			<li><a href="/dashboard/applications">Applications</a></li>
			<li><a href="/dashboard/services">Services</a></li>
			<li><a href="/dashboard/hooks">Hooks</a></li>
		<?php else:?>
		<?php endif?>
	</ul>
</nav>