<section id="login">
	<ul class="login-box <?php echo $this->auth->sessionAuthed() ? 'authorised' : 'guest'?>">
	<?php if($this->auth->sessionAuthed()):?>
		<li><a href="#">Edit profile (<?php echo $this->auth->user()->name()?>)</a></li>
		<li><a href="#">Update account information</a></li>
		<li><a href="#">My orders</a></li>
		<li><a href="#">My invoices</a></li>
		<li>
			<form method="post" action="/login/auth">
				<input type="submit" value="logout">
				<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
			</form>
		</li>
		<?php else:?>
		<li>
			<form method="post" action="/login/auth">
				<input type="text" name="email">
				<input type="password" name="password">
				<input type="submit" value="login">
				<input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>"/>
			</form>
		</li>
		<li><a href="/user/signup">Sign up</a></li>
		<li><a href="/user/forgot">Forgot credentials</a></li>
	<?php endif?>
	</ul>
</section>
