<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smee Integrations</title>
</head>
<body>
	<header>
		<h1>Smee Integrations Services</h1>
		<?php echo $this->partial('menu/header')?>
	</header>
	<section>
		<?php echo $this->getContent()?>
	</section>
	<footer>
		&copy; SupervillainHQ 2016
	</footer>
</body>
</html>