<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smee Integrations</title>
	<style>
		@import url('/css/reset.css');
		@import url('/css/default.css');
	</style>
	<?php echo $this->cmsclient->styles()?>
	<?php echo $this->cmsclient->scripts('head')?>
	<meta name="viewport" content="width=device-width">
</head>
<body>
	<header>
		<h1>Smee Integrations Services</h1>
		<?php echo $this->partial('menu/header')?>
		<?php echo $this->partial('menu/main')?>
	</header>
	<section>
		<?php echo $this->getContent()?>
	</section>
	<footer>
		&copy; SupervillainHQ 2016
	</footer>
</body>
</html>